<a name="pagecontent" id="pagecontent"></a>

<div class="container main content">

      <h2>Send Us a Message</h2>


    {{ page.content }}

    {% form 'contact' %}
      {% if form.posted_successfully? %}
        <p class="quote">{{ 'contact.form.post_success' | t }}</p>
      {% endif %}

      {% if form.errors %}
        <p class="quote">{{ 'general.forms.post_error' | t }}</p>

       {% assign message = 'contact.form.message' | t %}
        <ul class="center">
          {% for field in form.errors %}
            {% if field == 'form' %}
              <li>
                {{ form.errors.messages[field] }}
              </li>
            {% else %}
              <li>
                {% assign field_name = field | replace: 'body', message %}
                {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
              </li>
            {% endif %}
          {% endfor %}
         </ul>
      {% endif %}
  <div class="contact-form-wrap">
    <div class="contact-wrap-one">
         <div class="">
          {% assign name_attr = 'contact.form.name' | handle %}
          <label for="contactFormName">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
          <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
         </div>
         <div class="">
          <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
          <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
         </div>
         <div class="">
          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="contactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          </div>
    </div>
    <div class="contact-wrap-two">
          <div class="">
          <label for="contactFormSubject">Subject</label>
          <input type="text" id="contactFormSubject" name="contactFormSubject" placeholder="Subject" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
         </div>
          <div class="">
            <label for="contactFormMessage">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
            <textarea rows="5" class="contact-page-textarea" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          </div>
    </div>
    <div class="contact-wrap-three">
        <input type="submit" class="submit action_button contact-page-submit" value="{{ 'contact.form.send' | t }}" />
      {% endform %}
    </div>

    
  </div><!-- contact-form-wrap  -->
</div><!-- container main content  -->


<style>
  .contact-form-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .contact-wrap-one, .contact-wrap-two{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .contact-page-textarea{
        height: 80%;
  }
  .contact-wrap-three{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }


    @media (max-width: 768px) {
      .contact-wrap-one, .contact-wrap-two{
          width: 100%;
      }
    }
  }
</style>


