<footer class="footer">
  {% if section.settings.social_icons_header %}
        {% include 'social-icons' %}
      {% endif %}
  <div class="container footer-menu-wrap">
      {% for block in section.blocks %}
        <div class="{% if forloop.length >= 5 %}three columns{% elsif forloop.length == 4 %}four columns{% elsif forloop.length == 3 %}one-third column{% elsif forloop.length == 2 %}eight columns{% endif %}" {{ block.shopify_attributes }}>
          {% if block.type == 'logo' %}
            <div class="text-align--{{block.settings.text_align}}">
              {% if block.settings.image %}
                <img  src="{{ block.settings.image | img_url: '100x' }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      class="footer-logo lazyload {{ settings.image_loading_style }}"
                      data-sizes="25vw"
                      data-src="{{ block.settings.image | img_url: '2048x' }}"
                      data-srcset=" {{ block.settings.image | img_url: '200x' }} 200w,
                                    {{ block.settings.image | img_url: '300x' }} 300w,
                                    {{ block.settings.image | img_url: '400x' }} 400w,
                                    {{ block.settings.image | img_url: '500x' }} 500w,
                                    {{ block.settings.image | img_url: '600x' }} 600w,
                                    {{ block.settings.image | img_url: '1000x' }} 1000w"
                   />
              {% else %}
                <div class="logo">{{ shop.name }}</div>
              {% endif %}
            </div>
           

          {% elsif block.type == 'link_list' %}
            <div class="footer_menu">
              {% if block.settings.menu != blank %}
                <h4>{{ linklists[block.settings.menu].title }}<span class="right icon-down-arrow"></span></h4>
                <div class="toggle_content">
                  <ul>
                    {% for link in linklists[block.settings.menu].links %}
                      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                <h4>Menu title<span class="right icon-down-arrow"></span></h4>
                <div class="toggle_content">
                  <ul>
                    <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
                  </ul>
                </div>
              {% endif %}
            </div>

          {% elsif block.type == 'text' %}
            <div class="footer_content">
              {% if block.settings.title != blank %}
                <h4>{{ block.settings.title }}<span class="right icon-down-arrow"></span></h4>
                <div class="toggle_content">
                  {{ block.settings.content }}
                </div>
              {% endif %}
            </div>
          {% elsif block.type == 'page' %}
            <div class="footer_content">
              {% if block.settings.page != blank %}
                <h4>{{ pages[block.settings.page].title }}<span class="right icon-down-arrow"></span></h4>
                <div class="toggle_content">
                  {{ pages[block.settings.page].content }}
                </div>
              {% else %}
                <h4>Page title<span class="right icon-down-arrow"></span></h4>
                <div class="toggle_content">
                  <p>{{ 'homepage.onboarding.no_content' | t }}</p>
                </div>
              {% endif %}
            </div>

          {% elsif block.type == 'html' %}
            {% comment %}@TODO - Add HTML section for maps, widgets, embedding, etc{% endcomment %}

          {% elsif block.type == 'empty' %}
            <div class="empty-column"></div>

          {% endif %}

          {% assign social_media_column = section.settings.social_media_column | plus: 0  %}

          {% if block.settings.social_icons_footer %}
            {% assign social_icons = true %}
            <div class="footer-social-icons">
              {% include 'social-icons' %}
            </div>
          {% endif %}

        </div>
        {% if forloop.last and social_icons %}
          <div class="footer-social-icons--mobile sixteen columns">
            {% include 'social-icons' %}
          </div>
        {% endif %}
      {% endfor %}


      <div class="custom-footer">
        <div class="custom-footer-item address">
          <h5>Address</h5>
          <div class="addressOne">
            <p class="custom-footer-text" >South Location: <a href="https://www.google.ca/maps/place/Beauty+Depot/@50.997955,-114.0650157,17z/data=!3m1!4b1!4m5!3m4!1s0x537170f827e7d8c1:0x83fcf83af9e8a29f!8m2!3d50.997955!4d-114.062827">108-61 Ave, SW Calgary, Alberta T2H 0B2</a></p>
          </div>
          <div class="addressTwo">
            <p class="custom-footer-text" >North Location: <a href="https://www.google.ca/maps/place/1351+32+Ave+NE,+Calgary,+AB+T2E+7Z5/@51.0808997,-114.0271016,17z/data=!3m1!4b1!4m5!3m4!1s0x5371651bdd53bcf3:0xe25d2ca4a71bc763!8m2!3d51.0808997!4d-114.0249129">1351 32nd Ave, NE Calgary, Alberta T2E 7Z5</a></p>
          </div>
        </div><!-- address -->
        <div class="custom-footer-item contact">
          <h5>Contact</h5>
          <div class="custom-footer-text" >e-mail:<a href="mailto:contactus@beauty-depot.ca"> contactus@beauty-depot.ca</a></div>
          <div class="custom-footer-text" >Telephone:<a href="tel:+14032632204">(403) 263-2204</a></div>
          <div class="custom-footer-text" >Toll Free:<a href="tel:+18006656520">1-800-665-6520</a></div>
        </div><!-- contact -->
        <div class="custom-footer-item hours">
          <h5>Hours of Operatons</h5>
          <div class="custom-footer-text" >Monday - Friday: <span class="custom-footer-link">9AM to 5PM</a></div>
          <div class="custom-footer-text" >Saturday: <span class="custom-footer-link">10AM to 3PM</a></div>
          <div class="custom-footer-text" >Closed <span class="custom-footer-link">Sundays & Holidays</a></div>
        </div><!-- hours -->
      </div><!-- custom-footer -->


      <div class="sixteen columns row footer_credits">
        <p class="credits">
          &copy; {{ "now" | date: "%Y" }}
          {{ section.settings.copyright_text }}
          {% if section.settings.display_designed_by %}
            {{ 'layout.general.designer_credits_html' | t }}
          {% endif %}
          <a class="custom-footer-text" href="/pages/privacy-policy-disclaimer">PRIVACY POLICY - DISCLAIMER.   </a>
          | Developed By <a href="http://www.erinwise.ca/" target="new">E.Wise</a>, <a href="http://www.janellucia.com/" target="new">J.Lucia</a> & <a href="http://erincarrieres.com/" target="new">E.Carrieres</a>
        </p>

        {% if section.settings.display_payment_methods %}
          <div class="payment_methods">
            {% for type in shop.enabled_payment_types %}
              <img src="{{ type | payment_type_img_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
            {% endfor %}
          </div>
        {% endif %}
      </div><!--end footer_credits-->
    </div>


  </div>
</footer>

{% schema %}

{
  "name": "Footer",
  "class": "footer-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
    {
      "type": "checkbox",
      "id": "display_designed_by",
      "label": "Show theme designer credits",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Logo alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Content page"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "empty",
      "name": "Empty column",
      "settings": [
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "logo"
      },
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}

{% endschema %}

<style>
  .footer-menu-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .custom-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
  }

  .custom-footer-item{
    /*width: 30%;*/
  }
  .custom-footer-text{
    color:#00A99D;
  }

  .footer-social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .social_icons a, footer .social_icons a:visited {
  color:#00A99D;
  display: inline-block;
  margin: -0.5em 0.5em 0.5em 0.5em;
  border: 1px solid #00a99d;
  border-radius: 50%;
  padding: 5px;
  @include respond-to('small'){
    margin-bottom: 0;
  }
}

.credits {
    text-align: center;
    float: inherit;
    padding-top: 50px;
    }



  .icon-down-arrow{
    display: none !important;
  }


  @media only screen and (max-width: 768px) {

  .custom-footer{
    flex-direction: column;
  }
   .custom-footer-item{
    text-align: center;
  }
  .hours{
    display: none;
  }

}

@media only screen and (max-width: 480px) {
  .address, .contact{
    display: none;
  }


}
</style>