{% schema %}
    {    
        "name": "home-promo",
        "max_blocks": 5,
        "class": "home-promo-section",
        "blocks": [

            {
                "name": "gallery_image",
                "type": "image",
                "settings": [
                    {
                        "id": "gallery_image",
                        "type": "image_picker",
                          "label": "Gallery Image", 
                          "info": "Upload an image to be added to the image gallery on the homepage"
                    },
                    {
                        "id": "overlay_text",
                        "type": "text",
                          "label": "Overlay Text", 
                          "info": "add a title to your image that will apprear on the overlay"    
                    },
                    {
                        "id": "button_text",
                        "type": "text",
                          "label": "Button Text", 
                          "info": "add a title to your button that will apprear on the overlay"    
                    },
                    {
                        "id": "button_link",
                        "type": "text",
                          "label": "Button Link", 
                          "info": "add a link to your button that will apprear on the overlay"    
                    }
                ]     
            }

        ]            
    }


{% endschema %}

{% for block in section.blocks%}
    <div class="home-promo-item lazyload">
       <img src="{{ block.settings.gallery_image| img_url: 'grande' }}" class="home-promo-image">
        <h3 class="home-promo-title"><a href="{{ block.settings.button_link }}" target="new">{{block.settings.overlay_text}}</a></h3>
        <a class="home-promo-button" href="{{ block.settings.button_link }}" target="new">{{ block.settings.button_text }}</a>
    </div>
{% endfor %}


<script>
    let homePromoSection = document.querySelector('.home-promo-section');

    let homePromoItem = Array.from(document.querySelectorAll('.home-promo-item'));

    let [first, ...rest] = homePromoItem;



   let markup = `
        <div class="home-promo-wrap">
            <div class="home-promo-first">
                <div class="promo-item first">${first.innerHTML}</div>
            </div>
            <div class="home-promo-second">
                <div class="promo-item rest">${rest[0].innerHTML}</div>
                <div class="promo-item rest">${rest[2].innerHTML}</div>
            </div>
            <div class="home-promo-third">
                <div class="promo-item rest">${rest[1].innerHTML}</div>
                <div class="promo-item rest">${rest[3].innerHTML}</div>    
            </div>
        </div>
    `

    console.log("markup", markup);

    homePromoSection.innerHTML = markup;

</script>

<style>
    .home-promo-section{
  position: relative;
}
.home-promo-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0;
    position: relative;
}

.home-promo-first{
    width: 40%;
    display: flex;
}
.home-promo-second{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.home-promo-third{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.first{
    width: 100%;
    height: 603px;    
}
.rest{
    height: 300px;
}

.promo-item{
    position: relative;
    margin: 2px;
}
.promo-item img{
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.home-promo-title a{
    position: absolute;
    width: 100%;
    background: #333333;
    color:#ff1865;
    padding: 15px 0;
    top:0;
    left: 0;
    text-align: center;
}
.home-promo-title a:hover{
    color: #00a99d;
}
.home-promo-button{
    position: absolute;
    bottom:25px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ff1965;
    background: white;
    color: #ff1865 !important;
    text-transform: uppercase;
    padding: 5px 30px;
    letter-spacing: 2px;

}
.home-promo-button:hover{
    background: #ff1865;
    color: white !important;
}



@media only screen and (max-width: 800px) {
    
    .home-promo-first{
        width: 65%;
    }
   .home-promo-second{
        width: 35%;

    }
    .home-promo-third{
        width: 100%;
        flex-direction: row;

    }

}

@media only screen and (max-width: 480px) {
    
    .home-promo-first{
        width: 100%;
    }
    .home-promo-second{
        width: 100%;
        flex-direction: row;
    }
    .home-promo-third{
        flex-direction: column;
    }


}
</style>










